apiVersion: v1
kind: Pod
metadata:
  name: {{{ pod_name }}}
  labels:
    dummysite: "{{ dummysite_name }}"
spec:
  containers:
    - name: {{{ container_name }}}
      image: {{{ image }}}
      env: 
        - name: URL
          value: {{{ url }}}
      ports:
        - name: web
          containerPort: 80
          protocol: TCP